
body {
    margin: 0;
    
    height: 100%;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    color: #858687;
    text-align: center;
    
}
.header1{
    height: 64px;
    margin-top: -10px;
    width: 86.5%;
    margin-left: 257px;
    background-color: #ffff;
}

.header1 p{
    color:#858687;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 20px;
}

.header1 form{
    margin-right: 100px;
    margin-top: -30px;
}


.serach-butthon{
    height: 30px;
    background-color: #ffff; 
}
.header1-left{
    margin-top: -64px;
    background-color: #00284D;
    width: 257px;
    height: 66px;

}
.title{
    font-family:"@黑体",Georgia,Serif;
}
.left{
    background-color: #001529;
    width: 257px;
    height: 93.2%;

}
.left h3{
    text-align: center;
    margin-left: -10px;
    margin-top: -28px;
}
.left p{
    height: 30px;
    width: 100%;
    padding-top: 10px;
}


.left p a:hover{
    background-color:#1890FF;
    color:#ffff;
}

.left p a{
    padding-left: 20%;
    padding-right: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#A5ACB3;
    text-decoration: none;
}
.left img{
    margin-left: 25px;
    width: 30px;
    height: 30px;
}

.user-info{
    height: 750px;
    width: 400px;
    background-color: #ffff;
    margin-top: -850px;
    margin-left: 300px;
}

.user-info .avatar{
    margin-top: 50px;
    margin-left: 100px;
    height: 170px;
    width: 170px;
    border-radius: 50%;
}

.user-info h1{
    text-align: center;
    margin-left: -1em;
}
.user-info p{
    text-align: center;
    margin-left: -3em;
}
.user-info .img-class{
    width: 25px;
    height: 20px;
    margin-left: 20px;
}

.user-info span{
    font-family: 'Courier New', Courier, monospace;
    color: #A5ACB3;
}

.article{
    height: 750px;
    width: 1000px;
    background-color: #ffff;
    margin-top: -750px;
    margin-left: 750px;
    overflow:auto;
}
.article-title{
    padding-top:10px;
    padding-left: 20px;
    color: #A5ACB3;
}
.article-info{
    padding-top:10px;
    padding-left: 20px;
    
}
.article-info hr{
    color: #A5ACB3;
}
.article-info image{
    height: 50px;
    width: 50px;
}

.article form{
    margin-left: 200px;
    
}
#input-group{
    margin-top: 30px;
}
#btn{
    margin-top: 30px;
    width: 200px;
}
